.app-add-form {
    
    margin-top: 50px;
    padding: 55px;
    background-color: hsl(36, 84%, 85%);
    border-radius: 50px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    color: #e3660c;
    
}

.add-form {

    margin-top: 50px;

}

.add-form-input {

    width: 350px;
    margin-right: 20px;
}
